@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.logo {
  margin: 0px;
  padding: 10px 20px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
}

.Sidebar {
  height: 100%;
  width: 290px;
  background-color: hsl(221.73914, 51%, 9%);
  color: white;
}

.Sidebar-items {
  width: 100%;
  margin: 0px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Sidebar-items li {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: left;
  padding: 10px;
  align-items: center;
}

.Sidebar-items li div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.Sidebar-items li:hover {
  background-color: hsl(214, 70%, 25%);
  cursor: pointer;
}
